body{
  width:100%;
}

.shell .shell-section > div {
  position: absolute; 
  top: 0;
  left:50%;
  margin-left:-400px; /*half the width to center*/
  width: 800px;
  overflow: hidden; 
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -ms-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease;
}

.shell-content {
  background-color:white;
  padding: 1em;
  position: relative;
}

/*
.shell-open{
  border-left: 1px solid rgb(229, 229, 229);
  border-right: 1px solid rgb(229, 229, 229);
  border-bottom: 1px solid rgb(229, 229, 229);
}
*/

.shell .shell-section > h3{
  position:relative;
  padding-left: 5px;
  padding-right: 20px;
  margin-top: 2px;
  margin-bottom: 0px;
  border: 1px solid rgb(229, 229, 229);
}

.shell  .shell-section  > h3:hover{
  border-color: black;
  cursor: pointer;
}

a.shell-destroy, a.shell-close {
  position:absolute;
  right:0;
  color: grey;
  opacity: 0.6;
  text-decoration: none;
  top:0;
}

a.shell-destroy {
  margin-right:0.3em;
}

a.shell-destroy:visited, a.shell-close:visited {
  color: grey;  
}

a.shell-destroy:hover, a.shell-close:hover {
  opacity: 1;
  text-decoration: none;
  color: rgb(221, 56, 60);
}
